backup_old_files/
.venv/
venv/
temp/*
.idea/
*.npy
.vscode
modules/__pycache__/
models/*
__pycache__

# Ignore all zip
*.zip

# Temporarily ignore all .tif, .jpeg
*.tif
*.tiff
*.jpeg


# Ignore all the "heavy files" folders (data, models, temp)
# app_data and output are expected to be fairly light and are not ignored
data/*
models/*
temp/*
uploads/*


# Temporarily ignore fingerprints
# data/fingerprints/*

# Temporarily ignore DB folder contents
data/ZeroPM/*
data/COCONUT/*
data/input/pfas_envipath.csv
