backup_old_files/
.venv/
venv/
temp/*
.idea/
*.npy
.vscode
modules/__pycache__/
ZeroPMDB/
models/*
__pycache__

# Ignore all zip
*.zip

# Temporarily ignore all .tif, .jpeg
*.tif
*.tiff
*.jpeg

# Temporarily ignore fingerprints
# data/fingerprints/*

# Temporarily ignore Coconut folder content
data/COCONUT/*
data/input/pfas_envipath.csv
